:root {
  --max-width: 50vw;
}

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #191919;
  color: #ffffff;
}

header {
  min-height: 12.5rem;
  background-image: url("/header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main,
footer {
  max-width: var(--max-width);
  margin-inline: auto;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
